<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>Sentiment Analysis</title>
</head>
<body class="core">
    <div class="core-heading">
        <span id="appname">Sentiment analysis tool</span>
        <br>
        <span id="welcometext">Welcome, User!</span>
    </div>
    <form method="post" action="/processText">
    <div class="core-body">
        <span>Enter something </span>
        <br>
        <!--<input type="text" id="inputbox" name="inputbox" placeholder="Good morning, How are you?">-->
        <textarea name="inputbox" id="inputbox" placeholder="Good morning, How are you?"></textarea>
        <br>
        <input id="submitbtn" type="submit" value="Go">
    </div>
    </form>
    {%if output %}
        <div class="core-result">
            <span id="maintext"><b><p>"{{sentence}}"</p></b></span>
            <span id="sentiment"><p>Sentiment: {{sentiment}}</p></span>
            <span id="polarity"><p>Polarity: {{polarity}}</p></span>
            <span id="subjectivity"><p>Subjectivity: {{subjectivity}}</p></span>
        </div>
    {%endif%}
    {%if not output and error%}
        <div class="core-error">
            <span><b><p>{{error}}</p></b></span>
        </div>
    {%endif%}
    
</body>
</html>